.mydivs{
    text-align: center;
}

.buttonGroup{
  width: 35%;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  margin: auto;
}

@keyframes aparece {
  0%{opacity: 0;display: none;}
  100%{opacity: 1;display: block;}
  
}

@keyframes desaparece {
  0%{opacity: 1; display: block;}
  100%{opacity: 0; display: none;}
  
}

.tabsTitle{
  font-size: 32px;

  z-index: 0;
  color: #11284b;
  font-weight: bolder;
}

.aparece{
  display: block;
  animation: aparece 1s;
}

.desaparece{
  display: none;
  animation: desaparece 1s;
}



@media only screen and (max-width: 1150px) {

  .buttonGroup{
    width: 100%;
  }
  
}