.mydivs{
    text-align: center;
}

.buttonGroup{
  width: 30%;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  margin: auto;
}


.tabsTitle{
  font-size: 32px;

  z-index: 0;
  color: #11284b;
  font-weight: bolder;
}

.aparece{
  transition: "width 1.5s, visibility 1.5s ,display 1.5s ,opacity 1.5s linear"
}

.desaparece{

  width: 0;
  opacity: 0;
  visibility: hidden;
  transition: "width 1.5s, visibility 1.5s ,display 1.5s ,opacity 1.5s linear"
}



@media only screen and (max-width: 1250px) {

  .buttonGroup{
    width: 50%;
  }
  
}
@media only screen and (max-width: 720px) {

  .buttonGroup{
    width: 100%;
  }
  
}