html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #f6f6eb;
}
div{
  background-color: #f6f6eb;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bolder;
}

* {
  box-sizing: border-box;
}

.svgRed{
  background-image: url("data:image/svg+xml,%3csvg width='308' height='76' viewBox='0 0 308 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.90989 11.5563C5.96104 11.0452 6.39119 10.6559 6.90491 10.6559L306.661 10.6559C307.329 10.6559 307.809 11.2992 307.619 11.9401L292.212 63.9239C292.086 64.3485 291.696 64.6397 291.254 64.6397L1.70229 64.6397C1.11063 64.6397 0.648351 64.1289 0.707271 63.5402L5.90989 11.5563Z' fill='%23FC6F6B'%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 100%;
}

h2,h4{
  color: #381fd1;
}
